
<HTML>
<BODY>
 <h1>Hello World !!</h1>
<h2> Welcome to host <%= node['hostname'] %> </h2>
<h3> The ip address of this host is <%= node['ipaddress'] %> </h3>
<img src=google.png></img>
</BODY>
</HTML>
